/*Tamaño: 320px-680px*/

:root {
    --colorPrimario: rgba(255, 125, 110, 1);
    --colorSecundario: #FF7C6E;
    --colorIcono: #FF7C6E;
}

html {
    font-size: 12px;
}

body {
    /*    light*/
    font-family: 'poppins_lightregular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*    regular*/
    font-family: 'poppinsregular';
}

.bold {
    /*    extrabold*/
    font-family: 'poppinsbold';
}

.img-responsive {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 100vh;
    /*    Propiedad de recorte para los Divisores  */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -ms-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    /*    Propiedad de color de Degradados  */
    background: rgba(18, 112, 227, 1);
    background: -moz-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(18, 112, 227, 1)), color-stop(100%, rgba(89, 194, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background: linear-gradient(to right, rgba(18, 112, 227, 1) 0%, rgba(89, 194, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1270e3', endColorstr='#59c2ff', GradientType=1);
}

.contenedor {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

nav {
    display: flex;
    /*
    flex-direction: row;
    flex-wrap: wrap;
*/
    flex-flow: wrap row;
    flex: 0 1 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#logoNav {
    flex: 0 1 120px;
}

#menuDesktop {
    display: flex;
    flex: 0 1 50%;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

#menuDesktop a {
    color: white;
    text-decoration: none;
}

a.buy {
    width: 115px;
    height: 40px;
    border-radius: 25px;
    background: rgba(255, 223, 64, 1);
    background: -moz-linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255, 223, 64, 1)), color-stop(100%, rgba(255, 131, 89, 1)));
    background: -webkit-linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    background: linear-gradient(45deg, rgba(255, 223, 64, 1) 0%, rgba(255, 131, 89, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf40', endColorstr='#ff8359', GradientType=1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

#contenedor-header {
    flex: 0 1 100%;
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: space-around;
}

#relojHeader {
    flex: 0 1 100%;
    order: 2;
}

#txtReloj {
    flex: 0 1 100%;
    align-self: flex-start;
    order: 1;
}

#txtReloj h2 {
    font-size: 2.5rem;
}

#txtReloj h2,
#txtReloj p {
    color: white;
}

.contenedor-features {
    margin: 2rem 0;
    height: 100%;
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.box-Feature {
    margin: 1rem 0;
    flex: 0 1 calc(50% - 1rem);
}

.box-Feature h3 {
    flex-basis: 100%;
    text-align: center
}

.box-Feature p {
    flex-basis: 100%;
    text-align: center
}

.serv-icon {
    width: 50%;
    display: block;
    margin: 0 auto;
}

#features h2 {
    flex-basis: 100%;
    text-align: center;
}

.txtFeatures {
    flex-basis: 100%;
    margin: 0 2rem;
}


.full {
    width: 100%;
    height: auto;
    margin: 2rem 0;
    padding: 8rem 0;
}

#product {
    background: rgba(245, 49, 127, 1);
    background: -moz-linear-gradient(top, rgba(245, 49, 127, 1) 0%, rgba(255, 124, 110, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245, 49, 127, 1)), color-stop(100%, rgba(255, 124, 110, 1)));
    background: -webkit-linear-gradient(top, rgba(245, 49, 127, 1) 0%, rgba(255, 124, 110, 1) 100%);
    background: -o-linear-gradient(top, rgba(245, 49, 127, 1) 0%, rgba(255, 124, 110, 1) 100%);
    background: -ms-linear-gradient(top, rgba(245, 49, 127, 1) 0%, rgba(255, 124, 110, 1) 100%);
    background: linear-gradient(to bottom, rgba(245, 49, 127, 1) 0%, rgba(255, 124, 110, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5317f', endColorstr='#ff7c6e', GradientType=0);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    -moz-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    -ms-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
}

#product h2,
#product h3,
#product p {
    color: white;
}

#product h2 {
    text-align: center;
    font-size: 3rem;
    flex-basis: 100%;
    order: 2;
}

.imgProduct {
    flex-basis: 100%;
    order: 1;
    padding-top: 6rem;
    margin-top: 5rem;
}

.txtProduct {
    flex-basis: 100%;
    order: 3;
}

.descriptionProduct {
    flex: row wrap;
    flex: 0 1 100%;
    justify-content: space-between;
    align-content: space-around;
    display: flex;
}

.iconProduct {
    flex: 0 1 10%;
    padding: 1rem;
}

.txtIcon {
    flex: 0 1 80%;
}

.separador {
    padding: 5rem;
    width: 100%;
    height: auto;
}

.cajaAbout {
    flex: 0 1 50%;
    align-self: center;
}

.cajaAbout h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

#products {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    -moz-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    -ms-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    background: rgba(104, 89, 234, 1);
    background: -moz-linear-gradient(left, rgba(104, 89, 234, 1) 0%, rgba(106, 203, 224, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(104, 89, 234, 1)), color-stop(100%, rgba(106, 203, 224, 1)));
    background: -webkit-linear-gradient(left, rgba(104, 89, 234, 1) 0%, rgba(106, 203, 224, 1) 100%);
    background: -o-linear-gradient(left, rgba(104, 89, 234, 1) 0%, rgba(106, 203, 224, 1) 100%);
    background: -ms-linear-gradient(left, rgba(104, 89, 234, 1) 0%, rgba(106, 203, 224, 1) 100%);
    background: linear-gradient(to right, rgba(104, 89, 234, 1) 0%, rgba(106, 203, 224, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6859ea', endColorstr='#6acbe0', GradientType=1);
}

/*
#products .contenedor {
    justify-content: center;
}

#products .contenedor h2 {
    padding-top: 6rem;
    margin-top: 5rem;
    font-size: 2.5rem;
    color: white;
}

#products .contenedor p {
    color: white;
    text-align: center;
}

.cajaProduct {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajaProduct img {
    flex: 0 1 100%;
}

.cajaProduct h4, .cajaProduct h5 {
    color: white;
    margin: 2rem 0;

}

.cajaProduct h4 {
    font-size: 1.5rem;
}

.cajaProduct h5 {
    font-size: 2rem;
}

a.btnProduct {
    text-decoration: none;
    color: white;
    width: 115px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    color: white;
    text-decoration: none;
    border: solid white 0.15rem;
    justify-content: center;
    align-items: center;
}

#clients .contenedor {
    justify-content: center;
}

#clients .contenedor h2 {
    font-size: 2rem;
}

.txtClients {
    font-size: 1.3rem;
    text-align: center;
    margin: 2.2rem;
}

.cajaClient {
    margin: 1.8rem;
    flex-basis: 0 1 100%;
}

.cajaClient img {
    flex-basis: 0 1 20%;
}
*/

.title {
    flex-basis: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 3rem;
    color: white;
}

.descriptionTitle {
    flex-basis: 100%;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1rem;
    margin-bottom: 2rem;
    color: white;
}

.cajaProduct {
    flex: 0 1 calc(100%);
    margin-bottom: 1rem;
    color: white;
    text-align: center;
}

.cajaProduct h4 {
    font-size: 1.3rem;
}

.cajaProduct h5 {
    font-size: 1.5rem;
}

.btnProduct {
    text-decoration: none;
    color: white;
    width: 115px;
    height: 40px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    border: solid white 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin: 0 auto;
}

.contenedor-products {
    justify-content: space-around;
    margin-top: 3rem;
    padding-top: 3rem;
}

.formIcon i {
    font-size: 1.75rem;
    color: var(--colorIcono);
}


.box50 {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

#contacto {
    width: 100%;
    height: auto;
    padding: 5rem 0;
}

.row {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 1rem;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.nombre {
    display: flex;
    flex-basis: 100%;
    align-items: flex-end;
    font-size: 1.5rem;
    margin: 1rem;
    text-align: right;
}

.campo {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.formIcon {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
}

.formInput {
    flex-basis: 80%;
    display: flex;
    justify-content: flex-start;
}

.border-bottom {
    border: none;
    width: 100%;
    height: 30px;
    border-bottom: solid 1px var(--colorIcono);
    padding-left: 10px;
}

.enviar {
    width: 80px;
    height: 30px;
    border: solid 1px var(--colorIcono);
    background-color: transparent;
    border-radius: 20px;
    color: var(--colorIcono);
    cursor: pointer;
}

.enviar:hover {
    background-color: var(--colorIcono);
    color: white;
}

/*Estilos del mapa, el marcador y el popup*/
#marker {
    background-image: url('../img/location.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 1rem;
}

.mapboxgl-popup-content {
    position: relative;
    background: black;
    border-radius: 3px;
    pointer-events: auto;
}
